# Framework
# ---------
YII_DEBUG= false
YII_ENV= dev
APP_MAINTENANCE=0

# Application
# -----------
LINK_ASSETS=true

# Databases
# ---------
DB_DSN=mysql:host=database;port=3306;dbname=temp
DB_USERNAME=root
DB_PASSWORD=root
DB_TABLE_PREFIX=
DB_CHARSET=utf8mb4


# Urls
# ----
API_HOST_INFO=http://api.temp.localhost
FRONTEND_HOST_INFO=http://temp.localhost
BACKEND_HOST_INFO=http://backend.temp.localhost/
STORAGE_HOST_INFO=http://storage.temp.localhost


GOOGLE_MAP_API_KEY = AIzaSyAOUMDczh-yZ4rrg4Vlj2AMk-GWH7fr
# Other
# -----
SMTP_HOST = smtp-relay.sendinblue.com
SMTP_PORT = 587
SMTP_USER = temp@gmail.com
SMTP_PASS = YZ32fHPmwhy1Tp4aAA
SMTP_ENC = tls


#SMS



FRONTEND_COOKIE_VALIDATION_KEY=VfEWZYIfefrfr355dtKgkR5ZVg
BACKEND_COOKIE_VALIDATION_KEY=Yz-kY234gh8k6743ZtOUQj5QI

ADMIN_EMAIL=info@test.net
ROBOT_EMAIL=info@test.net



GLIDE_SIGN_KEY=fNVpUoS3v59riakpHnOLdyyBJFqqPwVz
GLIDE_MAX_IMAGE_SIZE=4000000

# To resolve "Invalid volumes",For Toolbox. (https://github.com/docker/toolbox/issues/607)
COMPOSE_CONVERT_WINDOWS_PATHS=1
